{% extends 'base.html' %}

{% block content %}

<article>
    <p class="about">hackernews.ee is a space to:</p>
    <br>
    <ul class="about">
        <li>discuss the latest news</li>
        <li>find out about events</li>
        <li>look for a job</li>
    </ul>

    <br>
    
    <p class="about">Focus is on everything related to
     the <em>Estonian</em> startup ecosystem.</p>
    
    <footer>
        <p>by <a href="https://maksimdrachov.github.io/" class="link">sveta.engineering</a> </p>
    </footer>
</article>


{% endblock %}